@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
.App {
  text-align: center;
  
}


body {
   background: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.lastname {
  font-weight: 400;
  color: lightblue;
  font-size: 80px;
}

.firstname {
  font-weight: 400;
  font-size: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* @media (prefers-reduced-motion: no-preference) {
  .bi-laptop {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.apptitle {
  font-size: 30px;
  background:  -webkit-linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.appdescription {
  background:  -webkit-linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;

  
}

.boxergram:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  background-color: transparent;
  height: 50px
}

.boxergram:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  background-color: black;
}

.project2 {
  
  background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
  font-weight: 800;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p2 {
  background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
}


.filmzillatext {
  font-weight: 800;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxergramtext {
  font-weight: 800;
  background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 52%, rgba(0,91,255,1) 100%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mystery:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  background-color: transparent;
  height: 50px
}

#mystery:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  background-color: rgba(0, 0, 0, 0.4);
}
#comic:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px red;
  background-color: transparent;
}


#comic:hover {
  color: red;
  box-shadow: 0 0 5px red;
  text-shadow: 0 0 5px red;
  background-color: rgba(0, 0, 0, 0.4);
}

.filmzilla:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px lightblue;
  background-color: transparent;
}

.filmzilla:hover {
  color: blue;
  box-shadow: 0 0 5px darkblue;
  text-shadow: 0 0 5px white;
  background-color: rgba(0, 0, 0, 0.4);
}
.Home {
 
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.projects {
  font-size: 100px;
  color: white;
}

.projectimage {
  height: 300px;
  width: 300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projectsbackground {
  background: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1111&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about {
  background: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Comic Neue', cursive;
}

.skills {
  height: 40%;
  width: 40%;
}

.htmlskills {
  height: 60%;
  width: 60%;
}
ul {
  list-style: none;
}

.frontend {
  height:50%;
  width: 50%;
}

.backend {
  height: 80%;
  width: 80%;
}


@media screen and (max-width: 500px){
  .bi-laptop {
    max-width: fit-content;
    max-height: fit-content;
  }

  

  .firstname {
    font-size: 35px;
    color: white;

  }

  .lastname {
    font-size: 35px;
    color: white;
  }

}


.skillssection {
  background: url(https://images.unsplash.com/photo-1491466424936-e304919aada7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.contact {
color: white;
font-family: 'Comic Neue', cursive;
  margin: 0 auto;
}

.phone {
  color: white;
  line-break: auto;
}

.lets {
  color: orange;
}
.make {
  color: green;
}

.make:hover {
  color: red;
  font-size: 40px;
}

.lets:hover {
  color: purple;
  font-size: 40px;
}


.phone:hover {
  font-size: 30px;
  color: #61dafb;
}
.contactsection {
background: url(https://images.unsplash.com/photo-1442120108414-42e7ea50d0b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1249&q=80) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
}


@media (max-width: 400px) {

body {
  background-color: blanchedalmond;
}

  
}
@media screen and  (max-width: 500px) {
 

  .projectsbackground {
    background-image: none;
  }

  .contactsection {
    background-image: none;
  }

  .skillssection {
    background-image: none;
  }

  .about {
    background-image: none;
  }
 * {
  background: url(https://newevolutiondesigns.com/images/freebies/space-iphone-wallpaper-18.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    color: turquoise;
  }
 
}